@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f0f8ff, #87cefa);
    min-height: 100vh;
}

header h1{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    animation: fade 0.8s linear;
}

header h1 span{
    background: linear-gradient(to right, rgb(101, 101, 101) 0%, rgb(0, 0, 0) 50%, rgb(48, 48, 48) 100%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line{
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(180, 180, 180) 50%, rgb(0, 0, 0) 100%);     
    height: 0.4rem;
    margin: 0 40vw;
    border-radius: 20px;
}

.grid {
    display: grid;
    margin: 8.3rem 1rem;
    min-height: 30rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2rem;
}

.item {
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 150%;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}
  
.item-0 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("Assets/redesigned-version.png" ) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
    animation: appear 0.4s linear;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.item-0:hover{
    translate: 0 -5px;
    box-shadow: 0 0 10px black;
}

    
.item-1 {
    grid-column: 1 / span 3;
    grid-row: 4 / span 3;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("Assets/original-edition.png") no-repeat center center/cover;
    align-items: center;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: appear 0.5s linear;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.item-1:hover{
    translate: 0 -5px;
    box-shadow: 0 0 10px black;
}

.item-0 a{
    color: rgb(255, 255, 255);
    text-align: center; 
    font-size: 2rem;
    text-decoration: none;
}

.item-1 a{
    color: rgb(255, 255, 255);
    text-align: center; 
    font-size: 2rem;
    text-decoration: none;
}

@media (min-width: 768px) {

    .grid {
      padding: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 20px;
      margin: 5rem;
    }

    .mobile-only {
      display: none;
    }

    .desktop-only {
      display: block;
    }

    .item-0 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 5;
    }

    .item-1 {
      grid-column: 3 / span 2;
      grid-row: 1 / span 5;
    }

    .description{
      padding: 4rem;
   }
    
}

footer{
    margin-bottom: 1rem;
}

footer p{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

 
.description-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Assets/internships.jpg) no-repeat center center/cover;
    color: rgb(255, 255, 255);
    padding: 1rem;
    max-width: 87vw;
    margin-bottom: 2rem;
    animation: slide 1s ease-in-out;
    transition: all 0.3s ease;
}

.description:hover{
    scale: 1.05;
}

@keyframes appear {
    0% {
        scale: 0;
    }
    50% {
        scale: 0.5;
    }
    100% {
        scale: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        translate: -100%;
    }
    100% {
        translate: 0;
    }
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social-icons a{
    scale: 1;
    transition: scale 0.3s ease; 
}

.social-icons a:hover{
    scale: 1.1;
}
